<ui:composition 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
             <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
             <title>Blogg</title>
        </f:facet>
		<h:outputStylesheet name="default.css" />
	<!--	<h:outputStylesheet name="css/bootstrap-3.3.4-dist/css/bootstrap.min.css" />-->
   	</h:head>
	<h:form>
	
       <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
       <p:panelGrid columns="2" > 
			
			<p:outputLabel for="j_username" value="Email :"></p:outputLabel>
            <p:inputText id="j_username" value="#{loginAccountBB.email}" required="true" 
            		requiredMessage="Please Enter Email!" styleClass="input-text-line; input-email">
            </p:inputText>
            <p:outputLabel for="j_password" value="Lösenord :"></p:outputLabel>
            <p:password id="j_password" value="#{loginAccountBB.password}" required="true" 
                        label="Password" styleClass="input-text-line"/>
                  
            <f:facet name="footer">
                <center>
                <p:commandButton value="Logga in" ajax="false" action="#{loginAccountBB.doLogin()}" styleClass="greenbutton"/>
				</center>
            </f:facet>
        </p:panelGrid>  
        
	</h:form>
	
</ui:composition>