<ui:composition 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
     <h:head>
        <f:facet name="first">
             <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
             <title>Blogg</title>
        </f:facet>
		
   	</h:head>
   	<body>
        <h:form id="registeraccount">
            <p:messages id="messages" autoUpdate="true" closable="true"/>
            <p:panelGrid columns="2" > 

                    <p:outputLabel for="email" value="Email :" />
                    <p:inputText id="email" value="#{registerAccountBB.email}" required="true" requiredMessage="Please Enter Email!"
                    		validatorMessage="Invalid email format">
                    	<f:validateRegex pattern="#{registerAccountBB.regex}"/>
                        <p:ajax event="blur" update="messages"/>
                    </p:inputText>
                    <p:outputLabel for="name" value="Namn :"/>
                    <p:inputText id="name" value="#{registerAccountBB.name}" required="true" requiredMessage="Please Enter Name!" />
                    
                    <p:outputLabel for="password1" value="Lösenord :"/>
                    <p:password id="password1" value="#{registerAccountBB.password}" required="true" match="password2" 
                                label="Password" feedback="true"/>
                    <p:outputLabel for="password2" value="Bekräfta Lösenord :"/>
                    <p:password id="password2" value="#{registerAccountBB.password}" required="true" label="Confirm Password"/>
                    
                    <f:facet name="footer">
                    	<center>
                        <div>
                        <p:captcha label="Captcha" theme="white" secure="true"/>
                        </div>
                        <p:commandButton value="Registrera" action="#{registerAccountBB.registerAccount()}" styleClass="greenbutton" validateClient="true"/>
                        <p:commandButton value="Tillbaka" immediate="true" action="cancel" styleClass="orangebutton"/>
                        </center>
                    </f:facet>
                    
                </p:panelGrid>  
        </h:form>   
        <f:facet name="last">
	        <h:outputStylesheet name="default.css" />
			<!--<h:outputStylesheet name="css/bootstrap-3.3.4-dist/css/bootstrap.min.css" />-->
        </f:facet>
     </body>
 </ui:composition>

