<ui:composition template="../../publictemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form> 
			<h:panelGroup layout="block" rendered="#{activationBB.valid}">
			   <p>Your account is successfully activated!</p>
			   <p:link outcome="/partials/security/loginAccount.xhtml" value="Go to login page" />
			</h:panelGroup>
			<h:panelGroup layout="block" rendered="#{!activationBB.valid}">
			   <p>Activation failed! Please enter your email address to try once again.</p> 
			   <h:form>
			       ...
			   </h:form>
			</h:panelGroup>
 		</h:form>
    </ui:define>
 </ui:composition>