<ui:composition template="../../publictemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <ui:include src="/WEB-INF/components/security/login.xhtml" />
        <h:form> 
        	<center> <p:commandLink value="Glömt lösenordet?" action="passwordreset" ></p:commandLink></center> 
		<p:separator/>
			<center> <p:commandLink value="Registrera nytt konto?" action="registerAccount" ></p:commandLink></center> 
 	</h:form>
    </ui:define>
 </ui:composition>

