<ui:composition template="../../publictemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form> 
			<h:panelGroup layout="block" rendered="#{passwordResetBB.valid}">
			   <p>Välj ett nytt lösenord</p>
			   <p:panelGrid columns="2">
			   		<p:outputLabel for="password1" value="Lösenord :"/>
                    <p:password id="password1" value="#{passwordResetBB.newpassword}" required="true" match="password2" 
                                label="Password" feedback="true"/>
                    <p:outputLabel for="password2" value="Bekräfta Lösenord :"/>
                    <p:password id="password2" value="#{passwordResetBB.newpassword}" required="true" label="Confirm Password"/>
			   
			   </p:panelGrid>
			   <p:commandButton value="Registrera" action="#{passwordResetBB.registernewpassword()}" styleClass="greenbutton" validateClient="true"/>
			</h:panelGroup>
			<h:panelGroup layout="block" rendered="#{!passwordResetBB.valid}">
			   <p>Återställnings tiden har gått ut.</p> 
			   <h:form>
			       ...
			   </h:form>
			</h:panelGroup>
 		</h:form>
    </ui:define>
 </ui:composition>