<ui:composition template="../../publictemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:head>
        <div></div>
            <p>Nytt konto registrerat.</p>
            <p>Gå till din email och öppna aktiverings mailet för att slutföra registrerningen. </p>
        </h:head>
        <div>
            <p:link outcome="/partials/security/loginAccount.xhtml" value="To login" />
        </div>
    </ui:define>
 </ui:composition>

