<ui:composition template="../../publictemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
    	 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
        <h:form>
			<h4>Fyll i din email address, en återställnings länk kommer att skickas till din address.</h4>
			<p:panelGrid columns="2">
				<p:outputLabel for="email" value="Email:"/>
				<p:inputText id="email" value="#{loginAccountBB.email}" 
						required="true" requiredMessage="Please Enter Email!" styleClass="input-email"/>
	 				
	
			</p:panelGrid>
			<p:commandButton value="Återställ" icon="ui-icon-check" 
					action="#{loginAccountBB.sendPasswordReset()}"/>
	       	<p:commandButton value="Tillbaka" ajax="false" action="back" icon="ui-icon-close" immediate="true"/>
		</h:form>
				
    </ui:define>
 </ui:composition>

