@CHARSET "ISO-8859-1";

root { 
    display: block;
}

body {
    margin: auto;
    width : 100%;
    background: white;
}

/* This is a PrimeFaces global setting */
.ui-widget, .ui-widget .ui-widget {
    font-size: 100%;
}

#username {
	margin-right:10%;
}

.posts {
	width: 800px !important;

}

.logout {
	margin-right:3%;
	background-image: none;
	background: red;
}

.user {
	margin-right:3%;
	font-size: 50%;
}

canvas{
    background-color: white;
    border:1px solid black;
}

.btn-login{
	width: 300px !important;
	font-weight: bold;

}

.btn-register {
	width: 300px !important;
	font-weight: bold;

}

.input-email{
	width: 400px !important;
}

.shadowmenu{
	/*box-shadow: 5px 5px 5px #000000;*/
}

#navigationmenu{
    margin-top: 3%;
    margin-left: 10px;
    float:left;
}

#templatecontent{
	margin-top: 3%;
    margin-left: 10px;
    float:left;
}

#footer{
	clear:both;
    text-align:center;
    padding:5px;
}

img{
	cursor: pointer;
}

#header {
    width: 100%;
    background-color: #3CBCBC;
}

#logo {
    float: left;
    width: 10.4em;
    height: 9.7em;
    background-image: url("#{resource['logo.png']}");
    background-size: contain;
}

#headertext {
    font-family: Verdana;
    font-weight: bold;
    font-size: 8em;
}



