<ui:composition template="/publictemplate.xhtml"
      		xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:f="http://java.sun.com/jsf/core"
      	xmlns:p="http://primefaces.org/ui">
   <ui:define name="content"> 
   		<p:outputPanel>
   		
   		
        <h1>Välkommen till jojosen.me</h1>
        <h3>Detta är ett vektyg för att skapa banor till hundsporten rallylydnad och om man vill ha en träningsdagbok.</h3>
        <h3>Sidan är under testning och utvekling.</h3>
        <h5><i>SSL Varning! Eftersom att sidan testas och inte är färdig så har sidan en själv signerat ssl certifikat.
        Detta gör att ni kommer få en säkerhetsvarning när ni går vidare. Det är en fråga om du litar på ssl certifikatet som sidan har,
        eftersom det inte är utfärdat av en godkännd tredjepart. Krypteringen och säkerheten är den samma som om man har en tredjepart 
        (som man betalar) som verifierar säkerheten.</i></h5>
        </p:outputPanel>
        <h:form>
			<p:commandButton action="registerAccount" value="Registrera nytt konto?" ></p:commandButton>
			<p:separator/>
			<p:commandButton action="loginAccount" value="Logga in" styleClass="greenbutton"></p:commandButton>
		</h:form>
		<f:facet name="last">
				
			  <!--  	<h:outputStylesheet name="css/bootstrap-3.3.4-dist/css/bootstrap.min1.css" />-->
		</f:facet>
    </ui:define>
</ui:composition>



