<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
            	<meta charset="utf-8"/>
            	<meta name="viewport" content="width=device-width, initial-scale=1"/>
                <meta content="IE=edge" http-equiv="X-UA-Conpatible"/>
                <title>Jojosen</title>
                <h:outputStylesheet name="default.css" />
            </f:facet>
			<!-- h:outputStylesheet library="css" name="default.css" /-->
        </h:head>
		
        <h:body>
        	<div id="header">
                <div id="logo"></div><div id="headertext">Jojosen.se</div>
            </div>
			<center>
            <p:outputPanel id="logincontent">
                <ui:insert  name="content" />
            </p:outputPanel>

            <p:outputPanel id="footerholder">
                <p:outputPanel id="footer">
                    &copy; by Fredrik Ström 2015.
                </p:outputPanel>
            </p:outputPanel>
            <f:facet name="last">
			  	
			</f:facet>
			</center>
        </h:body>
		
    </f:view>
</html>

