<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
            	<meta charset="utf-8"/>
            	<meta name="viewport" content="width=device-width, initial-scale=1"/>
                <meta content="IE=edge" http-equiv="X-UA-Conpatible"/>
                <title>Jojosen</title>
                <h:outputStylesheet name="default.css" />
            </f:facet>
			
        </h:head>
		
        <h:body>
			<div id="header">
                <div id="logo"></div><div id="headertext">Jojosen.se</div>
            </div>
			<div id="navigationmenu"> 
				<h:form >
					<p:menu  styleClass="shadowmenu" rendered="#{sessionMenuBB.loggedIn}" >
	        			<p:menuitem value="Träningsdagbok " outcome="mybloggposts" icon="ui-icon-home" >
					    </p:menuitem>
					    
					    <p:menuitem value="Ntt Inlägg " outcome="newbloggpost" icon="ui-icon-plus" >
					    </p:menuitem>
		
					    <p:menuitem value="Rallylydnadseditor " outcome="rallymanager"  icon="ui-icon-pencil">
				    	</p:menuitem>
				    	
				    	<p:menuitem value="Förslagslådan " outcome="feedback"  icon="ui-icon-comment">
				    	</p:menuitem>
				    	<p:submenu label="Inloggad som:" >
				    	<p:menuitem value=" #{request.userPrincipal.name} " action="manageprofile" rendered="#{sessionMenuBB.loggedIn}"
				    	style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis !important;">
				    	</p:menuitem>
				    	
				    	<p:menuitem value="Logga ut" action="#{sessionMenuBB.logout()}" icon="ui-icon-close" rendered="#{sessionMenuBB.loggedIn}">
				    	</p:menuitem>
				    	</p:submenu>
	       			</p:menu>
       			</h:form>
     		</div>
      		
       		<div id="templatecontent">
       			<h:form>
       				<center>
             		<ui:insert name="content" />
             		</center>
             	</h:form>
            </div>
            
            <div id="footer">
	              &copy; by Fredrik Ström 2015.
            </div>
			<f:facet name="last">
			  	
			</f:facet>
			
        </h:body>
		
    </f:view>
</html>

