
<ui:composition template="../../template.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:tvc="http://training.view.component">
   <ui:define name="content">
          <h:outputScript name="canvas.js"/>

		  <h:body>
		  	<pe:remoteCommand id="saveDataCommand" name="saveData"  update="canvasform:menubar" actionListener="#{canvasBB.saveCanvas}" >
	  			<pe:methodSignature parameters="java.util.ArrayList, java.util.ArrayList"/>
	  			<pe:methodParam name="imageX">
	  				<pe:convertJson type="#{canvasBB.getTypeCanvasImageGenericList()}"/>
	  			</pe:methodParam>
	  			<pe:methodParam name="arrowX">
	  				<pe:convertJson type="#{canvasBB.getTypeCanvasArrowGenericList()}"/>
	  			</pe:methodParam>
	  		</pe:remoteCommand>
	  		
	  		<pe:remoteCommand id="resizeCommand" name="resizeCmd" actionListener="#{canvasBB.resizeCanvas}">
	  			<pe:assignableParam name="gridsnapParam" assignTo="#{canvasBB.cm_gridsnap}">
	  				<pe:convertJson type="boolean"></pe:convertJson>
	  			</pe:assignableParam>
	  			<pe:assignableParam name="showorderParam" assignTo="#{canvasBB.cm_showorder}">
	  				<pe:convertJson type="boolean"></pe:convertJson>
	  			</pe:assignableParam>
	  			<pe:assignableParam name="showarrowsParam" assignTo="#{canvasBB.cm_showarrows}">
	  				<pe:convertJson type="boolean"></pe:convertJson>
	  			</pe:assignableParam>
	  		</pe:remoteCommand>
	  		
		  	<!-- p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" /-->
		  	<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true"></p:growl>
		  	<h:form id="canvasform" style="width: 1000px">
				 
			  		<p:menubar id="menubar" style="font-size: 110%; width: 1000px">
			  			
						<p:menuitem>
			  				<p:outputPanel style="padding-top: 5px;">
							 	<p:outputLabel for="inplaceEName" value="Titel: " />
			  					<p:inplace id= "inplaceEName" editor="true" style="margin-right: 10px; margin-right: 10px;">
			  						<p:inputText id="enterName" value="#{canvasBB.name}"/>
			        				<p:watermark for="enterName" value="Skriv ett namn på banan..." id="watermark" />
			    				</p:inplace>
		    				</p:outputPanel>
			  			</p:menuitem>	
			  			
			  			<p:menuitem>
			  				<p:commandButton value="Inställningar" type="button" onclick="PF('dlg2').show();" icon="ui-icon-gear"/>
			  			</p:menuitem>
			  			
			  			<f:facet name="options">
			  				<p:commandButton value="Hjälp?" type="button" onclick="PF('dlg1').show();" />
			  			</f:facet>
			  		</p:menubar>
			  		<p:sticky target="menubar"></p:sticky>
			</h:form>
			<h:form>
			<!--  width="#{canvasBB.canvasMap.width}" height="#{canvasBB.canvasMap.height}" -->
			<tvc:rallycanvas id="rallycanvas" 
							images = "#{canvasBB.canvasMap.canvasImages}" 
							arrows = "#{canvasBB.canvasMap.canvasArrows}"
							convimages="#{canvasBB.getTypeCanvasImageGenericList()}"
							convarrows="#{canvasBB.getTypeCanvasArrowGenericList()}"
							gridsnap = "#{canvasBB.cm_gridsnap}"
							showarrows = "#{canvasBB.cm_showarrows}"
							showorder = "#{canvasBB.cm_showorder}">
			</tvc:rallycanvas>
			<canvas id="canvas" width="#{canvasBB.width}" height="#{canvasBB.height}" 
					ondragover="allowDrop(event)" ondrop="drop(event)"/>
			</h:form>
			<h:form style="width: 1000px">
				<p:selectOneMenu id="klass" value="#{canvasBB.selectedKlass}" style="width:200px">
					<p:ajax update="imgs"/>
            		<f:selectItem itemLabel="Nybörjarklass" itemValue="Nybörjarklass" />
            		<f:selectItem itemLabel="Fortsättningsklass" itemValue="Fortsättningsklass" />
       				<f:selectItem itemLabel="Avanceradklass" itemValue="Avanceradklass" />
       				<f:selectItem itemLabel="Mästarklass" itemValue="Mästarklass" />
	            </p:selectOneMenu>
	            <p:dataGrid value="#{canvasBB.imgs}" var="img" columns="6" layout="grid" 
							paginator="true"  rows="12" id="imgs" >
					<img draggable="true" ondragstart="drag(event)" id="#{img}"  
							src="../../resources/rallylydn_#{canvasBB.selectedKlassSrc}/#{img}.png" />
				</p:dataGrid>
			</h:form>
			<p:dialog header="Instruktioner" widgetVar="dlg1" height="300" width="400">
				<h4>Detta är en editor för rallylydnadsbanor. Här nedan finns beskrivningar för de olika funktionerna</h4>
				<h5>Inställningar</h5>
				<p>Överst finns en panel för att ändra inställningar för den aktuella banan. Tex byta namn.</p>
				<h5>Läggtill/tabort skylt</h5>
				<p>Längst ner finns alla skyltar som man kan använda sig utav. Klicka och dra på en skylt för att lägga till i banan.</p>
				<p>Dra en skylt till en kant på banan så att den får en röd kant, släpp musknappen och tada!</p>
				<h5>Ändra på skylt</h5>
				<p>När det finns en skylt på banan så kan man klicka nere i högra hörnet på skylten för att rotera 90 grader. Dubbleklicka 
				på en skylt för att dra en pil till en annan skylt. När man lägger till en pil mellan två skylltar kommer även en 
				ordningssiffra att läggas till, går att tabort under inställningar.</p>
			</p:dialog>
			
			<p:dialog header="Inställningar" widgetVar="dlg2" height="200" width="400" >
				<h:form>
				<p:panelGrid columns="2">
					<p:outputLabel for="inplaceEWidth" value="Bredd:"/>
	  				<p:inplace id= "inplaceEWidth" editor="true"  style="margin-right: 10px; margin-right: 10px">
	  					<p:inputText id="enterWidth" value="#{canvasBB.width}" widgetVar="widthtext"/>
	  				</p:inplace>

	  				<p:outputLabel for="inplaceEHeight" value="Höjd:"/>
	  				<p:inplace id= "inplaceEHeight" editor="true" style="margin-right: 10px; margin-right: 10px">
	  					<p:inputText id="enterHeight" value="#{canvasBB.height}" widgetVar="heighttext"/>
	  				</p:inplace>

	  				<p:outputLabel for="gridcheck" value="Placeringshjälp:"/>
	  				<p:selectBooleanCheckbox id="gridcheck" value="#{canvasBB.cm_gridsnap}" widgetVar="gscbox">
	  				</p:selectBooleanCheckbox>

	  				<p:outputLabel for="showorder" value="Visa Ordning:"/>
	  				<p:selectBooleanCheckbox id="showorder" value="#{canvasBB.cm_showorder}" widgetVar="socbox">
	  				</p:selectBooleanCheckbox>

	  				<p:outputLabel for="showarrows" value="Visa Pilar:"/>
	  				<p:selectBooleanCheckbox id="showarrows" value="#{canvasBB.cm_showarrows}" widgetVar="sacbox">
	  				</p:selectBooleanCheckbox>

  				</p:panelGrid>
					<p:commandButton value="Spara" type="button" icon="ui-icon-check" onclick="resize();PF('dlg2').hide();"/>
	        		<p:commandButton value="Avbryt" type="button" icon="ui-icon-close" onclick="PF('dlg2').hide();"/>
        		</h:form>
			</p:dialog>
		  </h:body> 
		  
  </ui:define>
</ui:composition>