<ui:composition template="../../template.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="content">
		<h:body>
			<h:form id="mainlistform" >
				
				<p:dataTable id="manageMapsTable" value="#{manageMapsBB.savedCM}" 
						selectionMode="single"
						selection="#{manageMapsBB.selectedCanvasMap}"
						rowKey="#{rallymap.id}" 
						var="rallymap" 
						type="definition" 
						styleClass="posts">
						
					<p:ajax event="rowSelect" />
					<f:facet name="header">
						Sparade Rallybanor
					</f:facet>
					<p:column headerText="Titel" sortBy="#{rallymap.name}">
						<h:outputText value="#{rallymap.name}"  />
					</p:column>
					<p:column headerText="Nivå" sortBy="#{rallymap.level}">
						<h:outputText value="#{rallymap.level}" />
					</p:column>
					<p:column headerText="Antal moment" sortBy="#{rallymap.canvasImages.size()}">
						<h:outputText value="#{rallymap.canvasImages.size()}" />
					</p:column>
					<p:column headerText="Senast ändrad" sortBy="#{rallymap.changeDate}">
						<h:outputText value="#{rallymap.changeDate}" />
					</p:column>
					<p:column headerText="Skapad" sortBy="#{rallymap.createDate}">
						<h:outputText value="#{rallymap.createDate}" />
					</p:column>
					<f:facet id="tablefotter" name="footer">
						<p:commandButton id="nybanabtn" value="Skapa Ny bana" action="#{manageMapsBB.newRallyMap()}" icon="ui-icon-plus"
							styleClass="greenbutton"/>
			            <p:commandButton process="manageMapsTable" icon="ui-icon-folder-open" value="Öppna" 
			            		action="#{manageMapsBB.openRallyMap}" >
			            </p:commandButton>
			            <p:commandButton process="manageMapsTable" icon="ui-icon-close" value="Tabort" 
			            		action="#{manageMapsBB.deleteRallyMap}" update="manageMapsTable" styleClass="redbutton">
			           	</p:commandButton>
			        </f:facet>
				</p:dataTable>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>