
<ui:composition template="../../template.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
      <ui:define name="content">

      		<h:outputScript name="canvas.js"/>
		    
		  <h:body>
		  	<pe:remoteCommand id="saveDataCommand" name="saveData"  update="canvasform:menubar" actionListener="#{canvasBB.saveCanvas}" oncomplete="loadData(xhr, status, args)">
	  			<pe:methodSignature parameters="java.util.ArrayList, java.util.ArrayList"/>
	  			<pe:methodParam name="imageX">
	  				<pe:convertJson type="#{canvasBB.getTypeCanvasImageGenericList()}"/>
	  			</pe:methodParam>
	  			<pe:methodParam name="arrowX">
	  				<pe:convertJson type="#{canvasBB.getTypeCanvasArrowGenericList()}"/>
	  			</pe:methodParam>
	  		</pe:remoteCommand>
		  	<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
		  	<h:form id="canvasform" style="width: 1000px">
				 
			  		<p:menubar id="menubar" style="font-size: 110%; width: 1000px">
			  			<p:menuitem>
				            <p:commandButton id="newbtn" value="New" icon="ui-icon-contact" action="#{canvasBB.newCM()}" ajax="false"
				            				style="margin-right: 10px"/>
				        </p:menuitem>
						<p:menuitem>
			  				<h:outputLabel for="enterName" value="Title: " />
			  					<p:inputText id="enterName" value="#{canvasBB.canvasMap.name}" style="margin-right: 10px">
			  						<p:ajax event="blur" update="menubar"/>
			  					</p:inputText>
           						<p:watermark for="enterName" value="Skriv ett namn på banan..." id="watermark" />
				  			<p:commandButton id="savebtn" type="button" value="Save" update="menubar" icon="ui-icon-disk"
				  					onclick="saveData(JSON.stringify(getFilterdData()),JSON.stringify(getFilterdArrowData()))" 
				  					/>
			  			</p:menuitem>
						<p:menuitem id="openitem">
							<p:commandButton id="openbtn" value="Open" update="menubar"
											actionListener="#{canvasBB.loadDataMap()}" 
											oncomplete="loadData(xhr, status, args)"
											style="margin-left: 10px"/>
						</p:menuitem>
			  			
			  			<p:menuitem id="selectItem">
			  				<p:selectOneMenu id="selectMap" value="#{canvasBB.selectedcanvasMap}" converter="canvasMapConverter" style="width:175px">
								<f:selectItems value="#{canvasBB.savedMaps}" var="smap" itemLabel="#{smap.name}" itemValue="#{smap}"/>
							</p:selectOneMenu>
			  			</p:menuitem>
			  			<p:menuitem id="removeItem">
				            <p:commandButton id="removebtn" value="Delete" icon="ui-icon-close" update="menubar" ajax="false"
				            				actionListener="#{canvasBB.removeCM()}" 
				            				style="margin-left: 100px" 
				            				rendered="#{!canvasBB.anythingSelected()}"/>
				        </p:menuitem>
			  				
			  		</p:menubar>
			</h:form>
			
			<canvas id="canvas" width="1000" height="700" ondragover="allowDrop(event)" ondrop="drop(event)"></canvas>
			<h:form style="width: 1000px">
					<p:dataGrid value="#{canvasBB.imgs}" var="img" columns="6" layout="grid" paginator="true"  rows="12" id="imgs" >
						<p:panel header="#{img}">
						<img draggable="true" ondragstart="drag(event)" id="#{img}"  
								src="../../resources/rallylydn_nyborjarklass/#{img}.png" />
						</p:panel>
					</p:dataGrid>
			</h:form>
		  </h:body> 
  </ui:define>
</ui:composition>