<ui:composition template="../../template.xhtml" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/facelets/tags">
    <ui:define name="content">
    
        <h:form>
            <h:outputText value="Error 403: Authentication error, not saved Error." ></h:outputText>

        </h:form>
    </ui:define>
</ui:composition>