<ui:composition template="../../template.xhtml"
       	  xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:p="http://primefaces.org/ui">
  <ui:define name="content"> 
        <h:form>
            <p:panel style="width :500px">
			<h:panelGrid columns="2" columnClasses="column" cellpadding="5" >
				<f:facet name="header"><h2>Hantera profil</h2></f:facet>
		 
		        <h:outputLabel for="ename" value="Namn:" />
		        <p:inplace id="ename" editor="true">
		            <p:inputText value="#{manageProfileBB.myaccount.name}" required="true" label="text" />
		        </p:inplace>
		        
		        <h:outputLabel for="eemail" value="Email:" />
		        <p:inplace id="eemail" editor="true">
		            <p:inputText value="#{manageProfileBB.myaccount.email}" required="true" label="text" />
		        </p:inplace>
		        
		        <h:outputLabel for="created" value="Skapad den:" />
		        <p:outputLabel id="created" value="#{manageProfileBB.myaccount.createDate}">
		        </p:outputLabel>
		        
		        <h:outputLabel for="changed" value="Ändrad den:" />
		        <p:outputLabel id="changed" value="#{manageProfileBB.myaccount.changeDate}">
		        </p:outputLabel>
		 
		    </h:panelGrid>
             </p:panel>
        </h:form>
   </ui:define>
</ui:composition>

