<ui:composition template="../../template.xhtml"
       	  xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:p="http://primefaces.org/ui">
  <ui:define name="content"> 
  		<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true"></p:growl>
        <h:form>
			<p:panelGrid columns="2" columnClasses="column" cellpadding="5"  style="width :500px">
				<f:facet name="header"><h2>Skicka in åsikt.</h2></f:facet>
		 
		 		<p:outputLabel for="typ" value="Typ:"/>
		 		<p:selectOneMenu id="typ" value="#{feedbackBB.topic}" style="width:150px">
		 			<f:selectItem itemLabel="Välj..." itemValue="" />
		            <f:selectItem itemLabel="Rapportera Bug" itemValue="Bug" />
		            <f:selectItem itemLabel="Förslag" itemValue="Suggestion" />
		            <f:selectItem itemLabel="Övrigt" itemValue="Other" />
		 		</p:selectOneMenu>
		 
		        <p:outputLabel for="amne" value="Ämne:" />
		        <p:inputText id="amne" value="#{feedbackBB.topic}" />
		        
		        <p:outputLabel for="etext" value="Text:" />
		        <p:inputTextarea id="etext" value="#{feedbackBB.text}" required="true" autoResize="false">
		        </p:inputTextarea>
		        
		        <f:facet name="footer">
		        	<center>
		        	<p:commandButton value="Skicka in" action="#{feedbackBB.storeFeedback()}"></p:commandButton>
		        	</center>
		        </f:facet>
		 
		    </p:panelGrid>
        </h:form>
   </ui:define>
</ui:composition>

