<ui:composition template="../../template.xhtml"
          xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:p="http://primefaces.org/ui">
    <ui:define name="content"> 
        <h:form>
        	<p:outputPanel>
        	<h2>Mina inlägg</h2>
            <p:dataList id="bloggposts" value="#{myBloggPostsBB.bloggPosts}" var="bloggpost" type="definition" styleClass="posts">
            	<p:panel>
             	<h:outputText value="#{bloggpost.content}" escape="false"/>
             	<h6>Date: #{bloggpost.createDate}</h6>
            	</p:panel>
            	
            </p:dataList>
            </p:outputPanel>
        </h:form>
    </ui:define>
</ui:composition>


