<ui:composition template="../../template.xhtml"
       	  xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:p="http://primefaces.org/ui"
	      xmlns:pe="http://primefaces.org/ui/extensions">
  <ui:define name="content"> 
           <h:form>
           		<p:outputPanel>
	               <h2>Nytt Inlägg</h2>
		               <!--  
		               	<p:editor id="editor" widgetVar="editorWidget" value="#{postBB.text}" styleClass="posts" height="800"/>
		               	-->
		               	<pe:ckEditor id="editor" value="#{postBB.text}" interfaceColor="#008080" checkDirtyInterval="0" width="1000">  
			    			<p:ajax event="save" listener="#{postBB.submit()}"/>  
						</pe:ckEditor> 
		               
		               
		                <p:commandButton 	value="Submit Post" 
		                					action="#{postBB.submit()}" icon="ui-icon-disk"
		                					partialSubmit="true" styleClass="ui-priority-primary"/>
		                					
		                <p:commandButton 	value="Clear" type="button" 
		                					onclick="PF('editorWidget').clear();" 
		                					icon="ui-icon-close" />
	               </p:outputPanel>
           </h:form>
   </ui:define>
</ui:composition>

